/*css reset*/


/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
  */

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }
  body {
  	line-height: 1;
  }
  ol, ul {
  	list-style: none;
  }
  blockquote, q {
  	quotes: none;
  }

  blockquote:before, blockquote:after,
  q:before, q:after {
  	content: '';
  	content: none;
  }

  table {
  	border-collapse: collapse;
  	border-spacing: 0;
  }


	/* Main CSS elements*/


*,*:before, *:after{
	box-sizing: border-box;
}

}
.page {
	margin:0 auto;
	width: 1600px;
}
img {
	height: 100px;
	width:100px;
}
hr {
	width: 1500px;
	height: 1px;
	background-color: black;
}
h1 {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 0 20px 0;
}

.sections {
	margin: 40px 20px;
	width: 1600px;
}


/* Section 1 - No floats */

.img2 {
	float: left;
}


/* Section 3 - Float right */


.img3 {
	float: right;
	padding-bottom: 10px;
}
.img4 {
	float: left;
}
.img5 {
	float: left;
	margin-left: 5px;
	padding-right: 10px;
}
.p1 {
	padding: 20px 10px;
	display: inline;
}
.p2 {
	margin: 0 120px;
}
.img6 {
	float: right;
}
.img7 {
	margin-right: 5px;
	float: right;
}
.cont1 {
	height: 140px;
	width: 1600px;
	background-color: orange;
	border:4px solid red;
}
.box1 {
	height: 100px;
	width: 1560px;
	background-color: pink;
	margin-top:20px;
	margin-left: 20px;
	align-content: center;
}

.box2img {
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.paddingbox {
	margin-bottom: 100px;
}

.smallbox {
	height: 40px;
	width: 1600px;
	border: 4px solid red;
	background-color: orange;
}

.flag {
	height: 80px;
	width: 1560px;
	background-color: skyblue;
	margin-top:20px;
	margin-left: 20px;
	align-content: center;
}

.b1 {
	height: 100px;
	width: 100px;
	background-color: skyblue;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.b3 {
	height: 100px;
	width: 100px;
	background-color: skyblue;
	float: left;
	margin-right: 10px;
}

.clear {
	clear: left;
}
.box6 {
	height: 260px;
	width: 1600px;
	border: 4px solid red;
	background-color: orange;
}
.inrbox {
	height: 220px;
	width: 1560px;
	background-color: pink;
	margin-top:20px;
	margin-left: 20px;
}


.sec8{
	height: 450px;
}
.sec9{
	height: 300px;
}
.sec10{
	height: 400px;
}
.sec11{
	height: 400px;
}
.sec12{
	height: 400px;
}
.fix {
	margin-top: 10px;
	clear: right;
}
.cf {
	clear: both;
}
.clearfix:before,
.Clearfix:after {
  content: "";
  display: table;
}
.Clearfix:after {
  clear: both;
}
.Clearfix {
  clear: both;
  *zoom: 1;
}
