/*css*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*document body*/


body {
	font-family: sans-serif;
}


/*header section*/

.head {
	padding: 10px 0;
	position: fixed;
	top: 0;
	background-color: #2F3333;
}

h1 {
	letter-spacing: 2px;
	color: #EFF3F3;
	padding: 0 100px 0 0;
	vertical-align: middle;
	font-size: 40px;
	display: inline-block;
}
 h2 {
 	color: #2F3333;
 	letter-spacing: 2px;
 	padding: 10px 0;
 	font-size: 30px;
 }

 h3 {
 	color: #2F3333;
 	font-size: 20px;
 }

 .white {
 	color: silver;
 }

 .green {
 	background-color: green;
 }


/*navigation links*/

nav {
	/*margin: 0 auto;*/
	text-align: center;
}

.links {
	color: silver;
	display: inline-block;
	text-decoration: none;
	padding: 10px 10px;
	margin: 0 30px;
}

.links:hover {
	background-color: green;
}
/*middle box section*/

.floats {
	display: inline-block;
	border:1px solid #C9CECE;
	padding: 30px 60px;
}

.middleicon {
	margin: 20px;
}


/*icons*/


img {
	height:50px;
	width: 50px;
}

.secpara {
	color: #D7DBDB;
}

.para {
	line-height: 1.2;
	display: inline-block;
	width: 200px;
	text-align: center;
	color: #1E2121;
}
.middlepara {
	margin: 20px 200px;
}

.icons {
	margin-top: 30px;
}
i {
	padding: 20px 0;
  color: #384040;
  font-size: 30px;
 }


 /*all buttons section */


.center {
		width: 100%;
		margin: 0 auto;
}

 button {
 	border-color: transparent;
 	margin-top: 40px;
 	padding: 10px 15px;
 	background-color: green;
 	color: white;
 }

.whitebutton{
 	background-color: white;
 	color: green;
 }


 /*all sections*/


.section {
	padding: 40px 0;
	text-align: center;
}

.section1 {
	margin-top: 60px;
	background-color: black;
	color: white;
}

.section2 {
	background-color: #E2ECEC;
}

.section3 {
	background-color: green;
	color: white;
}

.section4 {
	background-color: #E2ECEC;
}

strong {
	font-weight: bold;
	text-decoration: underline;
}

.para2 {
	line-height: 1.4;
	margin: 40px 150px;
	text-align: left;
	color: silver;
}
.para3 {
	color: #2F3333;
}

.notextdeco{
	text-decoration: none;
}


/*footer*/

footer {
	padding: 20px 0;
	color: silver;
	background-color: #2F3333;
}
