/*		css reset 		*/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*		general css 		*/


*,*:before,*:after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  color: #888;
  font-family: 'Source Sans Pro', sans-serif;
  /*all:unset;*/
}


.page {
  margin-top: 164px;
  width: 100%;
}

/*    clearfix    */

.cf:before, .cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  clear: both;
  *zoom:1;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  text-align: center;
  background-color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  padding: 0 0 10px 0;
  font-size: 34px;
  text-transform: capitalize;
}

h4 {
  padding: 20px 0 10px 0;
  font-size: 30px;
}

h5 {
  font-size: 20px;
  padding: 5px 0;
}

h5:hover {
  color: #3ed8c4; 
}


.primary-clr {
  color: #888;
}


.head-clr {
  color: #3ed8c4;
}

.sec-clr {
  color: #ffffff;
}

.inline-blk {
  display: inline-block;
}

p {
  padding: 10px 0;
  line-height: 1.4;
}

.container {
  text-align: left;
  padding: 40px;
}


/*header section*/


.head {
  width: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 10;
  line-height: 80px;
  padding: 0 40px;
  background-color: #2ebfac;
}
.head span {
  float: left;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.logo {
  font-family: 'Oswald', sans-serif;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
}

a {
  text-decoration: none;
}

.nav-lst {
  vertical-align: middle;
  float: right;
}

.list {
  padding: 0 20px;
  text-transform: capitalize;
}

/*.dropdown-list {
  position: relative;
}*/

/*.dropdown-content {
  background-color: black;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0 0 2px 1px #ddd;
  z-index: 1;
}

.dropdown-list, .dropdown-content:hover, {
  display: block;
  width: 100px;
  color: green;
  z-index: 2;
}
*/

/*.subsection {
  position: absolute;
  display: none;
  user-select: none;
}

.dropdown, .subsection:hover {
  z-index: 1;
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 10px;
  margin: 0;
  cursor: pointer;
}*/

/*.lst-2 {
  border-bottom: 1px solid #888;
  text-align: center;
  height: 50px;
  width: 100px;
}
.lst-2:hover {
  background-color: #2ebfac;
}
*/
/*.subsection {
  position: relative;
  display: none;
}*/

/*.subsection:hover {
  display: inline-block;
  position: absolute;
  left: -20px;
  top: 20px;

}*/




/*    buttons     */


.btn {
  margin: 20px 0;
  border: 1px solid #888;
  font-size: 14px;
  border-radius: 40px;
  padding: 12px 30px;
  background-color: transparent;
  cursor: pointer;
  color: #888;
  text-transform: capitalize;
}

.btn:hover {
  border-color: #2ebfac;
  color: #2ebfac;
  background-color: #ffffff10;
}
.header-btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.header-btn, .img-btn {
  color: #ffffff; 
  border: 1px solid #ffffff;
}

.head i {
  padding: 0 10px;
}


/*    left aside section    */


.left-sec {
  border-right: 1px solid #CFD8DC;
  vertical-align: top;
  width: 900px;
}


.bg-img-box {
  position: relative;
  background-size: cover;
}

.img {
  height: 100%;
  width: 100%;
}

.img-txt {
  display: inline-block;
  width: 800px;
  position: absolute; 
  text-align: left;
  top: 50%;
  left: 40px;
  z-index: 1;
}

.txt-box {
  text-align: left;
  padding-left: 20px;
}

.icon-box {
  width: 50%;
  text-align: center;
}

.top-row {
  border-top: 1px solid #CFD8DC;
  border-bottom: 1px solid #CFD8DC;
}
.bottom-row {
  border-bottom: 1px solid #CFD8DC;
}

.lft-vt-clm {
  border-right: 1px solid #CFD8DC;
}

.page i, .footer i {
  cursor: pointer;
  color: #3ed8c4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-bg {
  margin: 20px 0 0 0;
  vertical-align: top;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #888;
}

.icon-txt {
  padding: 0 20px;
  width: 300px;
  text-align: left;
}


/*    right aside section     */


.right-sec {
  margin-top: 0;
  text-align: left;
  vertical-align: top;
  width: 500px;
}

.right-sec-col {
   border-bottom: 1px solid #CFD8DC; 
}

.right-sec-2nd-3rd-head {
  padding-bottom: 40px;
}

.right-sec-detail-list {
  padding: 20px 0;
  border-bottom: 1px solid #CFD8DC; 
}

.right-sec-detail-list p {
  font-size: 14px;
}

.border-none {
  border: none;
}

.right-sec-btm-btn {
  margin: 40px 0 0 0;
}


/*bottom section*/

.bottom-sec {
  width: 100%;
  position: relative;
}

.btm-left-sec, .btm-mid-sec {
  padding: 40px 0;
  vertical-align: top;
  width: 50%;
}


/*    bottom-mid-section    */


.btm-mid-sec {
  padding-top: 60px;
}

.round-img {
  border-radius: 50%;
  vertical-align: middle;
}

.btm-img-sec {
  padding: 20px 0;
}

 .names {
  font-weight: 600;
  font-size: 18px;
  color: #666;
}

.name-details {
  text-align: left;
  vertical-align: middle;
  padding-left: 20px;
}


/*    bottom-right-section    */


.btm-right-sec {
  padding: 40px 0;
  position: absolute;
  top: 0;
  right: 60px;
  width: 400px;
}

.btm-sec-icon {
  height: 30px;
  width: 30px;
}

.btm-sec-icon i {
  color: #888;
}

.btm-right-sec p {
  padding: 20px;
}
.btm-right-sec p:hover {
  color: #3ed8c4;
}


/*    footer    */

.footer {
  margin-top: 80px;
  background-color: white;
  text-align: center;
}

.footer small {
  display: block;
  padding: 60px 0;
  border-top: 1px solid rgba(136,136,136,.3);
}
