================================*/
						/*root css*/
/*================================*/

:root {
	font-size: 16px;
}

/*
css reset
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*================================*/
						/*base css*/
/*================================*/


*, *:before, *:after {
	box-sizing: border-box;
}

img {
	height: 40vh;
	width: 16%;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.2rem;
	font-weight: bold;
}


/*================================*/
						/*main css*/
/*================================*/

body {
	background-color: rgba(255,255,255, 0.7);
	font-family: 'Open Sans', sans-serif;
}

.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

/*================================*/
				/*header section*/
/*================================*/

.header {
	display: flex;
	padding: 1rem 0;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.header h1 {
	flex: 2;
}

.header p {
	margin-bottom: 0.5rem;
}


h1, h2, .header,.select {
	text-transform: capitalize;
}

.option-cntnr {
	margin-left: 10rem;
}

/*================================*/
				/*select container*/
/*================================*/


.select-container {
  position:relative;
  display:inline-block;
  vertical-align:top;
}
  .icon-select-arrows {
    display:block;
    width: 1.5rem;
    height: 1.5rem;
    position:absolute;
    top:0;
    right:0;
    border-left:1px solid #ddd;
    background-color:#fff;
    background-size: 4rem 4rem;
    background-position:top right;
    z-index:30;
    cursor:pointer;
    pointer-events:none;
    background: url(../../assets/media/icon.png) no-repeat 0.5rem center;
    background-color:
  }
  select {
    -webkit-appearance: none;
    position: relative;
    z-index: 29;
    cursor: pointer;
    border: 1px solid #ddd;
    width: 8rem;
    outline: none;

    height: 1.5rem;
    padding: 0 2rem 0 0.5rem;
    line-height: 1.6rem;
    border-radius: 0.3rem;

    background: #fff;
    font-family: inherit;
    color: #333;
    font-size: 0.9rem;
  }


/*================================*/
				/*image section*/
/*================================*/


.img-box {
	display: flex;
	border: 0.5px solid black;
	flex-wrap: wrap;
	flex: 1 1 300px;
}

.img-box > * {
	display: flex;
	flex: 1 1 300px;
	justify-content: center;
	background-color: #f3f3f3;
}
.img-box p {
	padding: 0.4rem 0 1rem 0;
}

.img-sec {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 0.5px solid black;
	border-left: 0.5px solid black;
	margin: 0 auto;
}


/*========================================*/
	/*responsive and addeptive media query*/
/*========================================*/


@media all and (min-width: 300px) and (max-width:900px) {

	:root {
		font-size: 10px;
	}

	.header {
		flex: 1;
		justify-content: flex-start;
		align-items: center;
	}

	.img-box {
		flex:1 1 100px;
	}

	.big-img {
		flex:1 1 200px;
		flex-wrap: wrap;
		align-items: center;

	}

	.option-cntnr {
		margin-left: 1rem;
	}
}

@media all and (max-width: 300px){
	.header {
		flex-direction: column;
		align-items: center;
	}
	.option-cntnr {
		margin: 1rem 0;
	}
}
