-------------------------------*/
          /*base css*/
/*-------------------------------*/

:root {
	font-size: 16px;
}

/* 		css reset 		*/


/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-------------------------------*/
          /*main css*/
/*-------------------------------*/

body {
  background-color: silver;
  text-align: center;
}

.container {
  display: grid;
  /*grid-template-columns: 200px 200px 200px;*/
  /*grid-template-columns: 200px 500px 100px;*/
  /*grid-template-columns: 200px auto 200px 200px;*/
  /*grid-template-columns: repeat(5, 200px);*/
  /*grid-template-rows: 200px 200px 200px 300px;*/
  grid-template-columns: 400px 600px 300px;
  grid-template-rows: 200px auto 200px 300px;
  /*implicit rows style(created by default)*/

  grid-auto-rows: 200px;
  grid-gap: 20px;
}

.box {
  background-color: green;
  border-radius: 5px;
  border: 4px solid rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: 20px;
  color: white;
}


/*===============================*/
          /*box-cont*/
/*===============================*/


.box-cont {
  display: grid;
  grid-template-columns: 300px 600px;
  grid-auto-flow: column; 
  grid-auto-columns: 200px;
  border: 10px solid #333;
}
.box2 {
  background-color: red;
  border-radius: 5px;
  border: 4px solid rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: 20px;
  color: yellow;
}


/*===============================*/
          /*box-cont-3*/
/*===============================*/


.box-cont-3 {
  width: 1600px;
  display: grid;
  grid-gap: 20px;
  /*grid-template-columns: 200px 200px;*/
  /*grid-auto-flow: column;*/

  /*grid-template-columns: 200px 200px 1fr;*/ /* gractional unit for free space*/
  /*grid-template-columns: 1fr 2fr 1fr;*/
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 10px solid #333;
}

.exercise-3 {
  background-color: green;
  border-radius: 5px;
  border: 4px solid rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: 20px;
  color: green;
}


/*===============================*/
          /*box-cont-4*/
/*===============================*/


.exercise-4 {
  background-color: skyblue;
  border-radius: 5px;
  border: 4px solid rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: 20px;
  color: blue;
}

.box-cont-4 {
  width: 1600px;
  height: 800px;
  display: grid;
  grid-gap: 20px;
  border: 10px solid #333;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-auto-flow: row;
}


/*===============================*/
          /*box-cont-5*/
/*===============================*/



.box-cont-5 {
  margin: 0 auto;
  width: 1600px;
  /*height: 600px;*/
  display: grid;
  grid-gap: 20px;
  border: 10px solid #333;
  /*grid-template-columns: auto 1fr auto 1fr;*/
  grid-template-columns: repeat(5, 1fr );  /*repeat function for fr we will get 5 col and equal space between them*/
  grid-template-columns: repeat(5, 1fr 2fr); /*5*2= 10 cols*/
  grid-template-columns: 200px repeat(2, 1fr auto)300px; /*starting and ending cols have defined width*/
  grid-template-columns: 200px repeat(2, 1fr auto)300px repeat(2, 3fr); /*6+2more cols added*/
}

.exercise-5 {
  background-color: pink;
  border-radius: 5px;
  border: 4px solid rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: 20px;
  color: black;
}

/*to expand the particular item grid-col span is used */
.last-item {
  background-color: green;
  grid-column: span 2;  /*grid-col span will double the width and the item will take double size*/
  /*grid-row: span 4;*/  /*double the size of the item vertically*/
}



/*===============================*/
      /*placing grid items*/
/*===============================*/



.box-cont-6 {
  width: 1600px;
  /*height: 800px;*/
  display: grid;
  grid-gap: 20px;
  border: 10px solid #333;
  grid-template-columns: repeat(5, 1fr);
  /*grid-template-rows: 1fr 2fr 1fr;*/

  grid-template-rows: repeat(3, 1fr); ============= /*connected to the line 252*/===========
}

.exercise-6 {
  background-color: pink;
  border-radius: 5px;
  border: 4px solid rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: 20px;
  color: black;
}

.random {
  background-color: #bada55;
  color: red;
  /*grid-column: span 2;*/ /*this is a shorthand property*/
  /*grid-column-start: 2; /*long hand property*/
  /* grid-column-end: 5;*/
  /*grid-column: 3 /span 2;*/  /*another shoethand property*/
  /*grid-column: 1 / -1;*/ /*this shorthand trick is used to span the column across the full width*/
  /*grid-column: 1 / 3;
  grid-row: 3 /span 3;*/ /*this shorthand property is used to expand the item vertically*/


/*=======================================================================*/
  /*to take entire grid to the top following technique is used*/
/*=======================================================================*/

  grid-column: 1 / -1; /*colomns will not expand vertically without these two lines written below*/
  grid-row: 1 / -2; ============= /*connected to the line 223 */=============

}


/*========================================*/
      /*spaning and placing cardio*/

            /*container 7*/
/*========================================*/

.container-7 {
  display: grid;
  grid-gap: 20px;
  
  /*make the grid 10 col wide,
  every other taking up twice the free space*/
  grid-template-columns: repeat(5, 1fr 2fr);

  /*make the grid have 10 explicit rows,
  50px high each*/
  grid-template-rows: repeat(10, 50px);
}

.item {
  background-color: pink;
  border-radius: 5px;
  border: 4px solid rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: 25px;
  color: black;
}

/*with item1, start at col3 and go until 5*/
/*.item1 {
  grid-column: 3 / 5;
}*/

/*with item2, start at col5 and go until the end*/

/*.item2 {
  grid-column: 5 / -1;
}*/

/*make item 5 double span 2 cols and rows*/
/*.item5 {
  grid-column: span 2;
  grid-row: span 2;
}*/

/*make item 8 two rows heigh*/
/*.item8 {
  grid-row: span 2;
}*/

/*make item 15 span the entire grid width*/
/*.item15 {
  grid-column: 1 / -1;
}*/

/*make item 18 span 4 widths, but end 9*/
/*.item18 {
  grid-column: span 4 / 9;
}*/

/*make item 20 start at row 4 and go for 3*/
/*.item20 {
  grid-row: 4/ span 3;
}
*/

/*========================================*/
      /*auto fit and auto fill*/

            /*container 8*/
/*========================================*/

.container-8 {
  display: grid;
  grid-gap: 20px; 
  border: 1px solid black;
  /*grid-template-columns: repeat(5, 100px);*/

/*=======================================================================*/
  /*auto-fill works as responsive,
  it adjusts all the contents within
  the box when we stretch or shrinkthe box 
  or window size*/
              /*||
                \/*/
/*=======================================================================*/
  /*grid-template-columns: repeat(auto-fill, 300px);*/



/*=======================================================================*/
/*auto-fit works as responsive,
it adjusts all the contents within
the box when we stretch or shrinkthe box 
or window size*/

/*only difference is that it ends the grid
in end and dont left the extra space in the end*/ 
              /*||
                \/*/
/*=======================================================================*/
  grid-template-columns: repeat(auto-fit, 300px);
}


/*========================================*/
      /*using minmax for responsive grid*/

            /*container 9*/
/*========================================*/

.container-9 {
  display: grid;
  grid-gap: 20px; 
  border: 1px solid black;
  /*grid-template-columns: repeat(auto-fill, 100px);*/

  /*our content doesn't get out from its
  asctual grid space we can use "minmax" */
  /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));*/

  /*automatically take all the empty space.*/
  /*grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/

  /*grid-template-columns: auto 200px 200px 200px;*/



/*==========================================================================*/
                        /*error in this section*/

  grid-template-columns: fit-content(200px) 100px 100px 100px;
/*==========================================================================*/

}